@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.headerText{
    color: var(--fontSize-color-header);
    font-size: 26px;
    font-family: var(--fontFamily-text);
    line-height: 1.2;
}